footer.footer
  .footer__logo-box
    img.footer__logo(src='', alt='')
  .row
    .col-1-of-2
      .footer__navigation
        ul.footer__list
          li.footer__item
            a.footer__link(href='#') Company
          li.footer__item
            a.footer__link(href='#') Contact us
          li.footer__item
            a.footer__link(href='#') Terms of Use
          li.footer__item
            a.footer__link(href='#') Privacy Policy
          li.footer__item
            a.footer__link(href='#') Careers
    .col-1-of-2
      p.footer__copyright
        | Built my 
        a.footer__link(href='#') Yunus Emre Onal
        |   
        a.footer__link(href='#') My Project
        | . Copyright &copy; All Reserved.
