.navigation
  input#navi-toggle.navigation__checkbox(type='checkbox')
  label.navigation__button(for='navi-toggle')
    span.navigation__icon &nbsp;
  .navigation__background &nbsp;
  nav.navigation__nav
    ul.navigation__list
      li.navigation__item
        a.navigation__link(href='#')
          span 01
          | Yunus Emre
      li.navigation__item
        a.navigation__link(href='#')
          span 02
          | Stories
      li.navigation__item
        a.navigation__link(href='#')
          span 03
          | Popular Cities
      li.navigation__item
        a.navigation__link(href='#')
          span 04
          | CONTACT US
      li.navigation__item
        a.navigation__link(href='#')
          span 05 CAREERS
          | 
